#secBuscador{
  width: 100%;
  height: auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

#titulos{
  flex-direction: column;
  color: #734E97;
}

#titulos h3{
  font-size: 35px;
  margin: 0;
}

#buscador{
  margin-top: 50px;
  margin-bottom: 20px;
}

#secBusquedaAvanzada{
  width: 100%;
  /* border: 1px solid #734E97; */
  height: auto;
  box-shadow: 1px 1px 10px #734E97;
  padding: 30px;
  display:none;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

#btnBuscar{
  text-align: left;
  padding: 0;
  margin-bottom: 5px;
  color: #734E97;
  font-size: 15px;
}

#btnBavanzada{
  float: right;
  border-radius: 0px;
  background-color: #734E97;
  font-size: 15px;
  width: 10%;
  border: 0px;
}

#secInformacionBusqueda{
  width: 30%;
  height: auto;
  color: #808788;
  margin-top: 20px;
  margin-bottom: 20px;
}

#selectBusqueda{
  border-radius: 0px;
  background-color: #734E97;
  color: white;
  box-shadow: 1px 1px 10px #734E97;
  border: 0px;
  height: 34px;
  cursor: pointer;
}

#buscadorGeneral{
  border:0px;
  box-shadow: 1px 1px 10px #734E97;
  font-size: 15px;
}

#btnBuscadorGeneral{
  border-radius: 0px;
  background-color: #734E97;
  color: white;
  border:0px;
  box-shadow: 1px 1px 10px #734E97;
  width: 70px;
  font-size: 17px;
}

.inputAll{
  border-radius: 0px;
  border-color: #734E97;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
}

.selectAll{
  border-radius: 0px;
  border-color: #734E97;
  height: 34px;
}

label{
  font-weight: normal;
}

.paginacionAvanzada a{
  margin-right: 10px;
}

.paginacionGeneral a{
  margin-right: 10px;
}

.active{
  color:red;
  text-decoration: underline;
}
