#titulos{
  flex-direction: column;
  color: #734E97;
  margin-top: 50px;
}

#titulos h3{
  font-size: 35px;
  margin: 0;
  margin-bottom: 10px;
}

#subtitulo{
  color:#808788;
}

#secInfoGeneral{
  color: #808788;
}

hr{
  border-color: #1B3280;
}

#historicoHeader{
  display: flex;
  flex-direction: row;
  color: #808788;
  align-items: center;
}

#selectAnio{
  width: 7%;
  height: 30px;
}

#selectMes{
  width: 10%;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
