.header{
  width: 100%;
  height: 86px;
  background-color: #734E97;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  position: fixed;
  z-index: 100;
}

.positionCenter{
  margin: auto;
  margin-top: 95px;
}

.btn_is{
  width: 100%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

footer{
   height: 75px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   border-top: 1px solid #808788;
}
