#menu{
    display: inline-flex;
    float:right;
    margin-top: 23px;
}

#menu li a {
  color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background-color: transparent;
}
